*/**
!.gitignore
!/aerospace/**
!/amethyst/**
/nvim/**

# Idk why I am not consistent I guess I just move

# nvim is it's own repository at dybev/nvim-settings
# alacritty is it's own repository at dybev/alacrittyconf
# tmux is it's own conf already at dybev/tmuxconf

